<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <h1>Edit Skill</h1>
  <form action="/skills/<%= skill._id %>?_method=PUT" method="POST" autocomplete="off">
    <input value="<%= skill.language %>" type="text" name="language">
    <input <%= skill.knowledge ? 'checked' : '' %> 
    type="checkbox" name="knowledge">
    <button type="submit">Update Skill</button>
    <br>
    <br>
    <a class="nav" href="/skills">Back to list</a>
  </form>
</body>
</html>